* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size:16px
}

.header {
    background-color: #295EAF;
    height:91px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header_left {
    
}

.header_right {

}

.unordered_list1 {
    display: flex;
    gap: 5px;
}

a {
    line-height: 50px;
    text-decoration: none;
    color: white;
    font-family: Maven Pro, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

.list1 {
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.home {
    background-color: #204d99;
    border-radius: 5px;
}

.list1:hover {
    background-color: #204d99;
    border-radius: 5px;
}

.hero_section {
    display: inline-block;
    width: 100%;
    height: 450px;
}

.texts {
    position: absolute;
    top:150px;
    right:100px;
    color:white;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    gap:30px
}

#power {
    font-size: 70px;
    font-weight: 900;
    line-height: 0.9em;
}

#latin {
    font-size: 28px;
    font-weight: 100;
    color: #A2DCFF;
    width:auto;
    height: 90px;
}

.offer {
    display: flex;
    gap: 10px;
    align-items: center;
}

#offer_text {
    font-size: 19px;
    font-weight: 100;
}

.fixed_box1 {
    position: absolute;
    right:0px;
    top:500px;
    background-color: black;
    width: 65px;
    height:65px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: fixed_box;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#fixed_number {
    font-size: 20px;
    font-weight: bold;
    height: 21px;
    width: 50px;
    text-align: center;
}

#fixed_text1 {
    font-size: 11px;
    line-height: 1;
    height: 13px;
    width: 48px;
    text-align: center;
}

@keyframes fixed_box {
    0%{
        color: rgba(255, 255, 255, 1)
    }
    /* 50%{
        color: rgba(255, 255, 255, 0.5)
    } */
    100%{
        color: rgba(255, 255, 255, 0.2)
    } 
}

.fixed_box2 {
    position: absolute;
    right:0px;
    top:575px;
    background-color: #80B541;
    width: 65px;
    height:65px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap:5px;
}

#fixed_text2 {
    font-size: 11px;
    line-height: 1;
    height: auto;
    width: 65px;
    text-align: center;
}

.section_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:auto;
    height: 421px;
}

.section_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 117px;
    padding: 40px 20px 20px 20px;
}

#energy {
    font-size: 21px;
    font-family: Helvetica;
    color: #FF9191;
    font-weight: lighter;
}

#waterfall {
    border-right: 0.68px dotted rgba(0,0,0,0.3);
}

#windmill {
    border-right: 0.68px dotted rgba(0,0,0,0.3);
}

.section_description {
    width: 400px;
    height: 154px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:25px
}

#section_text {
    color:#848484;
    font-size: 13px;
    font-family: Helvetica;
    font-weight: 100;
}

.read_more {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-end;
}

#read_more_text {
    font-size: 13px;
    font-weight: 100;
    font-family: Helvetica;
    color: #FF0000;
}

.article_container {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 376px;
    padding: 40px 0px 0px 0px;
    gap:15px;
    align-items: center;
    justify-content: center;
}

.two_sections_container {
    display: flex;
    flex-direction: row;
}

.for_home {
    width: 528px;
    height: 480px;
    display: flex;
    flex-direction: column;
    padding: 50px 36px 10px 36px;
}

.for_business {
    width: 528px;
    height: 480px;
    display: flex;
    flex-direction: column;
    padding: 50px 36px 10px 36px;
    background: linear-gradient(45deg,#b2d5e8,#63a6d0,#5598c7);
}

.heading_section_elements {
    font-size: 21px;
    font-family: Helvetica;
    color: #444444;
    font-weight: 400;
    margin-bottom: 7px;
}

.heading_section_text {
    font-size: 13px;
    font-family: Helvetica;
    color: #444444;
    font-weight: 400;
}

.home_element {
    display: flex;
    flex-direction: row;
    gap:20px;
}

.two_sections_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.trust_section {
    width:1326px;
    height: 189px;
    padding: 80px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
    margin-bottom: 40px;
}

.images {
    display: flex;
}

.list2 {
    list-style-type: none;
}

.footer{
    width: 100%;
    height: 472px;
    position: fixed;
    bottom: 0;
}

.footer_first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 120px;
    background-color: #557f93;
}

.footer_second {
    width: auto;
    height: 208px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px;
    background-color: #839ca3;
}

.footer_third {
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8c9fa5;
    color: white;
}   