* {
    font-family: Helvetica, Arial, sans-serif;
}

.active {
    background-color: #204d99;
    padding: 6px 12px 6px 12px;
    border-radius: 6px;
}

.nav-item {
    padding: 6px 12px 6px 12px;
}

.nav-item:hover {
    background-color: #204d99;
    color: white;
    border-radius: 6px;
}

.hero-title {
  font-size: 2rem;
  line-height: 1.1em;
}

.hero-subtitle {
  font-size: 0.8rem;
  color: #A2DCFF;
}

.hero-checkout {
  font-size: 0.7rem;
  color: #A2DCFF;
}

/* Larger screens */
@media (min-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }
  .hero-subtitle {
    font-size: 1.25rem;
  }
  .hero-checkout {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 4rem;
  }
}

.col-sm-4:hover img {
  transform: scale(1.03);
  transition: .3s ease;
}


